{% extends 'base.html' %} {% block meta %}
<title>Login</title>
{% endblock meta %} {% block content %}
  <body>
    <div class="py-5">
      <div class="container">
        <div class="m-3">
          <h1>Login</h1>
        </div>
        <div class="row">
          <div class="col-m-3 m-3">
            <div class="card p-3">
              <div class="card-block">
                <h4
                  class="card-title text-center bg-info border border-1 rounded"
                >
                  Silakan Login dan List Tugas Anda!
                </h4>
                <form method="POST" action="">
                  {% csrf_token %}
                  <table>
                    <tr>
                      <td>Username:</td>
                      <td>
                        <input
                          type="text"
                          name="username"
                          placeholder="Username"
                          class="form-control"
                        />
                      </td>
                    </tr>

                    <tr>
                      <td>Password:</td>
                      <td>
                        <input
                          type="password"
                          name="password"
                          placeholder="Password"
                          class="form-control"
                        />
                      </td>
                    </tr>

                    <tr>
                      <td></td>
                      <td>
                        <input
                          class="btn btn-primary"
                          type="submit"
                          value="Login"
                        />
                      </td>
                    </tr>
                  </table>
                </form>
                {% if messages %}
                <ul>
                  {% for message in messages %}
                  <li>{{ message }}</li>
                  {% endfor %}
                </ul>
                {% endif %} Belum mempunyai akun?
                <button type="button" class="btn btn-warning">
                  <a class="text-white" href="{% url 'todolist:register' %}">
                    Buat Akun
                  </a>
                </button>

                <p class="card-text p-y-1">{{todolist.description}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-alpha.6.min.js"></script>
  </body>

  {% endblock content %}
</div>
