{% extends 'base.html' %} {% block meta %}
<title>Registrasi Akun</title>
{% endblock meta %} {% block content %}
<body>
  <div class="py-5">
    <div class="container">
      <div class="m-3">
        <h1>Registration</h1>
      </div>

      <div class="row">
        <div class="col-m-3 m-3">
          <div class="card p-3">
            <div class="card-block">
              <h4
                class="card-title text-center bg-info border border-1 rounded"
              >
                Silakan Registrasi Dahulu!
              </h4>
              <form method="POST">
                {% csrf_token %}
                <table>
                  {{ form.as_table }}
                  <tr>
                    <td></td>
                    <td>
                      <input
                        class="btn btn-primary"
                        type="submit"
                        name="submit"
                        value="Daftar"
                      />
                    </td>
                  </tr>
                </table>
              </form>

              {% if messages %}
              <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
              </ul>
              {% endif %} Sudah mempunyai akun?
              <button type="button" class="btn btn-warning">
                <a class="text-white" href="{% url 'todolist:login' %}">
                  Login
                </a>
              </button>

              <p class="card-text p-y-1">{{todolist.description}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
  <script src="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-alpha.6.min.js"></script>
</body>

{% endblock content %}
