{% extends 'base.html' %} {% block content %}

<h1>Lab 1 Assignment PBP/PBD</h1>

<h5>Name: {{ nama }}</h5>
<p>Fill me!</p>

<h5>Student ID: {{ studentId }}</h5>
<p>Fill me!</p>

<table>
  <tr>
    <th>Name</th>
    <th>Item Price</th>
    <th>Item Stock</th>
    <th>Rating</th>
    <th>Description</th>
    <th>Item URL</th>
  </tr>
  {% for katalog in list_katalog %}
  <tr>
    <td>Item Name: {{katalog.item_name}}</td>
    <td>Item Price: {{katalog.item_price}}</td>
    <td>Item Stock: {{katalog.item_stock}}</td>
    <td>Rating: {{katalog.rating}}</td>
    <td>Description: {{katalog.description}}</td>
    <td>Item URL: {{katalog.item_url}}</td>
  </tr>
  {% endfor %} {% comment %} Add the data below this line {% endcomment %}
</table>

{% endblock content %}
